.principal{
	background-image: url(../img/sunny-day.jpg);
	background-size: cover;
	background-position: center;
	height:100vh;
}
.container2{
	max-width: 1449px;
	text-align: center;
}
.ceropadding{
	padding: 0;
}
.photokitten{
	padding-top: 23%;
}

